<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="home">Home</a>
    <a class="nav-item nav-link" routerLink="user">User</a>
    <a class="nav-item nav-link" routerLink="project">Project</a>
    <a class="nav-item nav-link" routerLink="task">Task</a>
    <a class="nav-item nav-link">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>