<div>
    <h1>Project</h1>
    <button class="btn btn-primary mr-sm-2" routerLink="../ProjectCreate">Add Project</button>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Project Name</th>
                <th>Details</th>
                <th>CreatedOn</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let projects of projects;" (click)="onSelected(projects)">
                
                <td>{{ projects.id }}</td>
                <td>{{ projects.name }}</td>
                <td>{{ projects.detail }}</td>
                <td>{{projects.createdOn | date :'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>